body {
    background-image: url("../Pictures/marly-van-putten-hCEYK8nLA2U-unsplash.jpg");
    
}
#headerSection .row {
    height:20vh;
}
#bana-ulas #my-pic{
    width:40vh;
}
.img-thumbnail{
    border:none !important;
     background: transparent !important;
     box-shadow:none !important
}
.link-logo{
    height:55px;

}
.navbar {
    border-bottom: 3px #c47f00 solid;
} 